.footer a{
    text-decoration: none;
    color: blanchedalmond;
}
.footer img{
    width: 150px;
}
.footer ul{
    display: flex;
    justify-content: space-around;
}
.footer{
    color: white;
    text-align: center;
    font-family: "fuente menu";
}
h2{
    font-size: x-large;
    text-align: center;
    color: aliceblue;
}