.header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    size: 500px;
    color: rgb(83, 91, 204);}

    .header img{
        width: 150px;
        text-align: center;
    }
    h1{
        font-family: "TITULO";
    }